src/main/resources/wsdl/SpringSample.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ss="http://www.example.org/SpringSample/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SpringSample"
	targetNamespace="http://www.example.org/SpringSample/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/SpringSample/">
			<xsd:complexType name="abstractRequest">
				<xsd:sequence minOccurs="1" maxOccurs="1">
					<xsd:element name="reqName" type="xsd:string" nillable="false"
						maxOccurs="1" minOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="abstractResponse">
				<xsd:sequence minOccurs="1" maxOccurs="1">
					<xsd:element name="responseName" type="xsd:string"
						nillable="false" maxOccurs="1" minOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="requestImplementation" type="ss:abstractRequest" />
			<xsd:element name="responseImplementation" type="ss:abstractResponse" />
			<xsd:element name="requestImplementation2" type="ss:abstractRequest" />
			<xsd:element name="responseImplementation2" type="ss:abstractResponse" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="OperationRequest">
		<wsdl:part element="ss:requestImplementation" name="request" />
	</wsdl:message>
	<wsdl:message name="OperationResponse">
		<wsdl:part element="ss:responseImplementation" name="response" />
	</wsdl:message>
	<wsdl:message name="OperationRequest2">
		<wsdl:part element="ss:requestImplementation2" name="request2" />
	</wsdl:message>
	<wsdl:message name="OperationResponse2">
		<wsdl:part element="ss:responseImplementation2" name="response2" />
	</wsdl:message>
	<wsdl:portType name="SpringSample">
		<wsdl:operation name="Operation1">
			<wsdl:input message="ss:OperationRequest" />
			<wsdl:output message="ss:OperationResponse" />
		</wsdl:operation>
		<wsdl:operation name="Operation2">
			<wsdl:input message="ss:OperationRequest2" />
			<wsdl:output message="ss:OperationResponse2" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SpringSampleSOAP" type="ss:SpringSample">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Operation1">
			<soap:operation style="document" soapAction="http://www.example.org/SpringSample/Operation1" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Operation2">
			<soap:operation style="document" soapAction="http://www.example.org/SpringSample/Operation2" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>	
	<wsdl:service name="SpringSample">
		<wsdl:port binding="ss:SpringSampleSOAP" name="SpringSampleSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
